body {
    
    background-image: url("../img/bg3.jpg");
}

.Contenido {
  text-align: center;

  font-size: 120%;
  color: 	#2F4F4F;
}

.Informacion {

  background-color: white;
  border-style: inset;
  border-width: 10px;
}



.Navegacion {
  background-color: white;
}