body {
    background: linear-gradient(to left,rgb(51, 51, 51),black);
}

h1 {
  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes parpadeo {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}

.Cabecera {
  background: linear-gradient(to bottom right,black, rgb(51, 51, 51));
}

.Contenido {
  background-image: url("../img/bg3.jpg");
  text-align: center;

  font-size: 120%;
  color: 	#ff6600;
}

.Informacion {

  background: linear-gradient(to bottom right,black, rgb(51, 51, 51));
  border-style: inset;
  border-width: 10px;
  border-color: #eaeae1;
}



.Lista {
  background: linear-gradient(to left, rgb(51, 51, 51), black);
  color: white;
}

.Imagenes {
  margin: 50px 0px 50px 0px;
}

.Logo {
  margin: auto;
}


.Navegacion {
  border-style: dashed;
  border-color: orange;
  /*background-color: orange;*/
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: radial-gradient(red, orange, rgb(255, 0, 0));
    font-size: 150%;
}

.nav>li>a {
  color: orange;
}

.nav>li>a:hover {
  background-color: #ffc299;
  color: black;
}

.FinalPagina {
  background: linear-gradient(to left, rgb(51, 51, 51), black);
}

.Etiqueta {
  background: linear-gradient(to left, orange, red);
  
}

a {
  color: orange;
}
a:hover {
  color: white;
}

footer {
  border-radius: 25px;
  border: 2px solid #ff6600;
  margin-top: 50px;
}